<% if logged_in? %>
<%= form_for [@micropost, @micropost.comments.build] do |f| %>
  <div class="input-group">
  		<%= f.hidden_field :commenter, :value => current_user.name %>	
        <%= f.text_area :body, class: "form-control", placeholder: "Add a comment", type: "text" %>
        <span class="input-group-addon">
             <%= f.submit "comment", class: "fa fa-edit" %>  
        </span>
  </div>
<% end %>
<% else %>
<p> Bạn hãy <%= link_to "Đăng nhập", login_path %> để bình luận </p>
<% end %>
