<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 post">
                
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                <strong><%= @micropost.title %></strong>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 post-header-line">
                            <span class="glyphicon glyphicon-user"></span>by <%= @micropost.user.name %> | <span class="glyphicon glyphicon-calendar">
                            </span><%= @micropost.created_at%> | <span class="glyphicon glyphicon-comment"></span><a href="#">
                                <%= @micropost.comments.count%>comments %>
                        </div>
                    </div>
                    <div class="row post-content">
                       
                        <div class="col-md-9">
                            <p>     
                                <%= @micropost.content %>
                            </p>         
                        </div>
                    </div>
                    
                </div>
            </div>
            <%if logged_in? %>
            <span class="glyphicon glyphicon-wrench"></span> <%= link_to "Edit" , edit_micropost_path %>
            <span class="glyphicon glyphicon-trash"></span> <%= link_to "Delete",@micropost,method: :delete, data: {confirm: "bạn muốn xóa chứ?"} %>
            <% end %>
        </div>
        
    </div>
    <%= render "comments/comment" %>
</div>


   


